version: "3.1"
services:
  gateway:
    build:
      context: ./ #dockerfile所在文件夹路径
      dockerfile: Dockerfile #dockerfile的名称
    container_name: gateway
    restart: always
    network_mode: host

